body {
    font-family: "Oswald", "Helvetica";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    color: #111;
  }

  .canvas-setup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
  }
  
  @media screen and ( max-width: 550px) {
    .canvas-setup {
      flex-direction: column;
    }    
  }

  .canvas-setup-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .canvas-setup-type input[type="radio"]{
    margin: 0;
  }

  .canvas-start {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    max-width: 300px;
  }
  .canvas-start input {
    border: 1px solid #444;
    padding: 4px;
    margin: 5px auto;
    max-width: 50px;
    text-align: center;
  }
  .canvas-start button {
    border: 1px solid #444;
    padding: 10px;
    margin: 5px auto;
  }
  
  .canvas-wrapper {
    height: 600px;
    max-height: 70vh;
    padding: 0 10px;
    width: 80vw;
  }
  
  .component {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  }